<!DOCTYPE html>
<html>
  <head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>student Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
	<body>
		<p>
		  <table class="table table-bordered">
		    <thead bgcolor="lightblue">
		      <tr>
		        <th class="text-center">SlNo</th>
		        <th class="text-center">Name</th>
		        <th class="text-center">regNo</th>
		        <th class="text-center">rollNo</th>
		        <th class="text-center">clgName</th>
		        <th class="text-center">city</th>
		        <th class="text-center">country</th>
		        <th class="text-center">state</th>
		        <th class="text-center">Action</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% students.forEach(function(e,i){ %>
		      <tr>
		      	<td class="text-center"><%= i %></td>
		      	<td class="text-center"><%= e.name.fname+' '+e.name.lname %></td>
		      	<td class="text-center"><%= e.reg %></td>
		      	<td class="text-center"><%= e.roll %></td>
		      	<td class="text-center"><%= e.clgName %></td>
		      	<td class="text-center"><%= e.address.city %></td>
		      	<td class="text-center"><%= e.address.country %></td>
		      	<td class="text-center"><%= e.address.state %></td>
		      	<td class="text-center"> 
		      		<button class="btn btn-success btn-edit" type="button" id="bt2" data-student-id="<%= e._id%>">Edit</button>
		      		<button class="btn btn-danger" type="button" id="bt3" data-student-id="<%= e._id%>">Delete</button>		      		
		      	</td>
					</tr>
					<%})%>
		    </tbody>
		  </table>
		</p>
		<center>
			<button class="btn btn-lg btn-info" type="button" id="bt4">Add New</button>
		</center>
	  <script type="text/javascript">
	  	$(".btn-edit").click(function(e){
	  		e.preventDefault();
	  		window.location.href = "/student/edit/"+$(this).data("student-id")
	  	})
	  	$(".btn-info").click(function(e){
	  		e.preventDefault();
	  		window.location.href = "/student/add/"
	  	})
	  	$(".btn-danger").click(function(e){
	  		e.preventDefault();
	  		var sid = $(this).data("student-id");
  		    $.ajax({
		        url : '/student/'+sid,
		        type: 'delete',
		        data : sid,
		        success : function(result){		            
	            console.log(result);
	            window.location.reload();
		        }
  		    });   
	  	});
	  </script>
  </body>
</html>
